@model UpdateAboutDto

@*
    About Component Partial
*@

<div class="container-fluid py-5" id="About">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="@Model.ImageUrl">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Hakkımızda</div>
                <h1 class="mb-4">@Model.Title</h1>
                <p class="mb-4">
                    @Model.Description
                </p>
                @await Component.InvokeAsync("_UiLayoutAboutItemComponent")
                @await Component.InvokeAsync("_UiLayoutSocialComponent")
            </div>
        </div>
    </div>
</div>